/* Font-Face (extension content) */
@font-face {
    font-family: 'Knewave';
    font-weight: 400;
    src: url('assets/fonts/knewave-regular-webfont.woff2') format('woff2'),
         url('assets/fonts/knewave-regular-webfont.woff') format('woff');
}

/* Animation */
@keyframes pulse {
    0% { transform: scale(0.75); }
    50% { transform: scale(1); opacity: 90%; }
    100% { transform: scale(0.75); }
}

@keyframes gradient-bg {
    0%   { background-position: 0% 50%; }
    50%  { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Don't Have to Teach */
/* Just default styles I'm used to doing */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Don't Have to Teach */
:root {
    --color-dark: hsl(274, 100%, 8%);
    --color-med: hsl(275, 100%, 31%);
    --color-light: hsl(284, 100%, 64%);
    --color-transition: hsl(276, 32%, 43%);
}

/* Don't Have to Teach */
img {
    max-width: 100%;
    pointer-events: none;
    user-select: none;
}

/* Yes teach, all properties below are super basic */
body {
    background-color: var(--color-dark);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Overflow: hidden == super important for parallax scrolling */
section {
    overflow: hidden;
}

/* Don't Have to Teach */
/* Used to create fade between foreground image and subsequent section */
#section-landing::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8rem;
    background: linear-gradient(to top, var(--color-dark), transparent);
    z-index: 10;
}

/* Flexbox, Briefly mention vh, and some background properties */
#section-landing {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-height: 100vh;
    width: 100vw;
    background-image: url("assets/galaxy-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

/* Child Combinator can probs skip */
#section-landing > img {
    position: absolute;
    inset: 0;   /* Shorthand for top, bottom, left, right */
    z-index: 1;
}

#section-landing a button {
    cursor: pointer;
    position: relative;
    bottom: -3vh;
    padding: 1.2rem 2rem;
    font-size: 2.5rem;
    background-color: #ffffff;
    border: none;
    border-radius: 5rem;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 600;
}

/* Yes teach, basic font properties */
/* font-family, font-weight, letter-spacing, font-size */
.title {
    font-family: 'Knewave';
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.3rem;
    user-select: none;
}

/* Yes teach */
#main-title {
    position: relative;
    font-size: 11.25rem;
    z-index: 0;
}

/* Yes teach */
#secondary-title {
    font-size: 7rem;
    margin-block: 4rem;
}

/* Yes teach */
h2 {
    position: relative;
    bottom: -5vh;
    padding: 1.5rem 2rem;
    font-size: 2.5rem;
    background-color: #ffffff;
    border-radius: 45%;
    color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

/******************************************************************************************/

.card-container > img {
    position: absolute;
    z-index: -1;
}

/* Anyone know how to do this with flexbox instead? */
.card-container {
    margin-inline: 10rem;
    margin-bottom: 16rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8rem;
    perspective: 500px;
    place-items: center;
}

/* Related to sizing and positioning */
.card {
    position: relative;
    width: 15rem;
    height: 18.5rem;
    cursor: pointer;
}

.card-face {
    position: absolute; /* need to add this so can stack front and back on top of each othe */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
    box-shadow: 0px 4px 25px 0px var(--color-light) inset, 0px 4px 20px 3px var(--color-light);
    background: linear-gradient(to bottom, var(--color-dark) 66.72%, var(--color-med) 100%);
    border-radius: 1rem;
    backface-visibility: hidden;
    
    transition: transform 500ms ease-in-out;
}

/* When 'visible' class added, the card rotates back */
.card.visible .card-front {
    transform: rotateY(180deg);
}

.card-front:hover .planet {
    transform: scale(1.4);
    transition: transform .3s ease-in-out;
    animation: pulse 1.5s infinite;
}

/* When 'visible' class added, the card rotates back */
.card.visible .card-back {
    transform: rotateY(0);
}

/* By default, back of the card is faced away from us */
.card-back {
    transform: rotateY(180deg);
    padding: 1.5rem;
    text-align: center;
    line-height: 1.5;
    font-size: 1rem;
}

.card-back > span {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.15rem;
    margin-top: 0.5rem;
}

.planet {
    position: absolute;
    height: 7.5rem;
}

.stars {
    height: 100%;
}

#rocket {
    width: 26rem;
    transform: rotate(35.15deg);
    opacity: 50%;
    left: -5%;
    top: 10%;
}

#asteroid-pink {
    width: 33rem;
    top: 15%;
    right: -8%;
    transform: scaleX(-1);
}

#asteroid-purple {
    width: 37rem;
    transform: scaleY(-1);
    opacity: 70%;
    bottom: 3%;
}

#asteroid-orange {
    width: 17rem;
    transform: scaleX(-1);
    transform: scaleY(-1);
    left: -5%;
    bottom: -20%;
    opacity: 70%;
}

#purple-ring {
    width: 64rem;
    transform: rotate(45deg);
    opacity: 50%;
    bottom: -45%;
    right: -40%;
}
